#mining-btn {
  background-color: #14f195;
}

.panels {
  display: flex;
  flex: 1 1 auto;
  margin: 20px;
  gap: 10px;
}

#mining-panel {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 50%;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

#mining-panel h2 {
  font-size: 60px;
  font-weight: bold;
}

#mining-panel p {
  font-size: 32px;
  font-weight: bold;
}

/* input field to show the current computed hash */
#hash-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border: none;
  border: 1px solid #14f195;
  color: #14f195;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  margin: 10px 0;
  text-overflow: ellipsis;
  font-size: 30px;
}

/* mining button with cool gradient hover effect */
#mine-button {
  background: linear-gradient(90deg, #14f195 0%, #9635ec 100%);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: all 0.5s ease;

  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#mine-button:hover {
  background-position: left bottom;
  color: black;
}

/* the big red reset button */
#reset-blockchain {
  background-color: #f00;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#stats-panel {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

#stats-panel h2 {
  font-size: 60px;
  font-weight: bold;
}

#stats-panel p {
  font-size: 24px;
  font-weight: bold;
}
